<template>
  <div>
    <h1>{{ toto }}</h1>
    <div v-if="toto == 'toteo'">
      Test
    </div>
    <div v-else-if="toto == 'toto'">
      Teste
    </div>
    <div v-else>
      Non test
    </div>
    <li v-for="(tot, index) in collections" :key="index">
      {{ tot.node.title }}
    </li>
    <button @click="addTotoArray('Toto')">
      Ajouter
    </button>
    <form @submit="handleSubmit">
      <button type="submit">
        Envoyer
      </button>
    </form>
    {{ montantTotal }}
    <button @click=" num1 = num1 * num2">
      Ajoute
    </button>
    <button @click="createCart">
      Valider le panier
    </button>

    <ul>
      <li v-for="(post, index) in products" :key="index">
        <button @click="addToCart(post.node.id)">{{ post.node.title }}</button>
        <img :src="post.node.featuredImage.url" alt="" width="200">
      </li>
    </ul>
    {{ onePosts.title }}
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  name: 'IndexPage',
  data: function () {
    return {
      toto: 'toto',
      totoArray: [] as string[],
      num1: 5,
      num2: 8,
      posts: [],
      onePosts: {},
      collections: [],
      products: [],
      cart : []
    }
  },
  computed: {
    montantTotal () {
      return this.num1 + this.num2
    }
  },
  created () {
  // Code executé lors de la creation du composant

  },
  mounted () {
    // Code executé lorsque le composant est monté dans le DOM
    this.getPost()
    this.getOnePost()
    this.getCollection()
    this.createCart()
    this.getProducts()
    this.login()
  },
  updated () {
    // Code execute lorsque le composant est mis a jour

  },
  destroyed () {
    // Code execute lorsque le compiosant ce detruit

  },
  methods: {
    async getPost () {
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts')
        console.log(response)
        this.posts = response.data
      } catch (error) {
        console.log(error)
      }
    },
    async getOnePost () {
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts/1')
        console.log(response)
        this.onePosts = response.data
      } catch (error) {
        console.log(error)
      }
    },
    async postOnePost () {
      try {
        const response = await axios.post('https://jsonplaceholder.typicode.com/posts', {
          userId: 101,
          id: 101,
          title: 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
          body: 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'
        })
        console.log(response)
        if (response.status === 201) {
          console.log('ok ca marche')
        }
      } catch (error) {
        console.log(error)
      }
    },
    addTotoArray (name : string) {
      this.totoArray.push(name)
    },
    handleSubmit (event:any) {
      event.preventDefault()
      console.log(this.totoArray)
    },
    async getCollection () {
      try {
        const response = await axios.get('https://mock.shop/api?query={collections(first:%2010){edges%20{cursor%20node%20{id%20handle%20title%20description%20image%20{id%20url}}}}}')
        this.collections = response.data.data.collections.edges
        console.log(this.collections)
      } catch (e) {
        console.log(e);
      }
    },
    async createCart () {
      const body = {
        query: `mutation {
    cartCreate(
      input: {
        lines: ${JSON.stringify(this.cart).replaceAll(',','\n').replaceAll('}','},').replace('"','').replace('"','').replace('"','').replace('"','')}
      }
    ) {
      cart {
        id
        createdAt
        updatedAt
        lines(first: 1, reverse: true) {
          edges {
            node {
              id
              merchandise {
                ... on ProductVariant {
                  id
                  title
                  image {
                    id
                    url
                  }
                }
              }
            }
          }
        }
        cost {
          totalAmount {
            amount
            currencyCode
          }
          subtotalAmount {
            amount
            currencyCode
          }
        }
      }
    }
  }`
      }
      console.log(body)

      const response = await axios.post(
        'https://mock.shop/api', body)
      console.log(response)
      console.log(JSON.stringify(this.cart))

    },
    async getProducts () {
      try {
        // 'https://mock.shop/api?query={products(first:%20100){edges%20{node%20{title%20description%20handle}}}}'
        // 'https://mock.shop/api?query={products(first:%2020){edges%20{node%20{id%20title%20description%20featuredImage%20{id%20url}%20variants(first:%203){edges%20{node%20{price%20{amount%20currencyCode}}}}}}}}'
        const response = await axios.get(
          'https://mock.shop/api?query={products(first:%20100){edges%20{node%20{id%20title%20description%20featuredImage%20{id%20url}%20handle}}}}'
        )
        this.products = response.data.data.products.edges
        console.log(this.products)
      } catch (e) {
        console.log(e)
      }

    },
    addToCart(id) {
      let obj = {
        quantity: 1,
        merchandiseId: id
      }
      this.cart.push(obj)
      console.log(this.cart)
    },
    async login(){

      const response = await axios.post(
        'https://dummyjson.com/auth/login', {

          username: 'emilys',
          password: 'emilyspass',
          expiresInMins: 30, // optional, defaults to 60
        })
      console.log(response)
      const user = { jwt:  response.data.token}
      this.$store.dispatch('login', user)
      console.log(this.$store.state.jwt)
    }
  }
})
</script>

<style>

</style>
