<template>
  <div>
  Page materiel

    <form :schema="schema"  :state="formData" @submit.prevent="onSubmit" >
      <input type="text" name="email" v-model="formData.email">
      <input type="password" name="password" v-model="formData.password">
      <button type="submit">Envoyer</button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue, { reactive } from 'vue'
import { object, string } from 'yup'

// Validator Yup , alternative Zod, JOI , Valibot
export default Vue.extend({
  middleware: 'auth',
  setup () {
    const  schema = object({
      email: string().email('Champs invalide ')
        .required('Requis'),
      password: string()
        .min(8, 'Minimum 8 caracteres')
        .required('Requis')
    })

    const formData = reactive({
      email: '',
      password: ''
    })



    return {
      formData,
      schema
    }
  },
  name: 'IndexPage',
  data: function () {
    return {
        email: '',
        password: ''
    }
  },
  computed: {

  },
  created () {
    // Code executé lors de la creation du composant
  },
  mounted () {
    // Code executé lorsque le composant est monté dans le DOM

  },
  updated () {
    // Code execute lorsque le composant est mis a jour
  },
  destroyed () {
    // Code execute lorsque le compiosant ce detruit
  },
  methods: {

    login () {
      console.log('email : ' + this.email)
      console.log('password : ' + this.password)
    },
    onSubmit (event:any) {
      this.schema.validate(this.formData)
        .then(() => {
          this.login()
          console.log('Formulaire valide', this.formData)
        })
        .catch((error:any) => {
          console.log('Erreur ' + error)
      })
      console.log(event)
    }

  }
})
</script>

<style>

</style>
