<template>
  <div>
    Page Categorie id

    {{onePosts}}
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
  name: 'IndexPage',
  data: function () {
    return {
      onePosts: {}
    }
  },
  computed: {

  },
  created () {
    // Code executé lors de la creation du composant
  },
  mounted () {
    // Code executé lorsque le composant est monté dans le DOM
   if (isNaN(parseInt(this.$route.params.id)) && parseInt(this.$route.params.id) < 100) {
     console.log('pas bon')
   } else {
    this.getOnePost()
   }
  },
  updated () {
    // Code execute lorsque le composant est mis a jour
  },
  destroyed () {
    // Code execute lorsque le compiosant ce detruit
  },
  methods: {
    async getOnePost () {
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/posts/' + this.$route.params.id)
        console.log(response)
        this.onePosts = response.data
      } catch (error) {
        console.log(error)
      }
    }
  }
})
</script>

<style>

</style>
